.todolist{
 list-style: none;
 width: 500px;
 margin: 1em auto;
}

.todolist li{
 margin-bottom: 1em;
 padding-bottom: 1em;
 border-bottom: 1px solid rgb(253, 253, 253);
}
.input{
border-radius:6px; 
border-style:solid; 
background-color:#246292; 
padding:7px; 
border-color:#1480b6; 
border-width:2px; 
color:#ffffff; 
font-size:12px;  } 
.css-input:focus 
{ 
 outline:none; 
} 
